<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FactoryService" />
                <binding name="BasicHttpBinding_PublicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.ttbems.com/Core/FactoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FactoryService"
                contract="ServiceReferenceFactory.FactoryService" name="BasicHttpBinding_FactoryService" />
            <endpoint address="http://www.ttbems.com/Core/PublicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PublicService"
                contract="ServiceReferencePublic.PublicService" name="BasicHttpBinding_PublicService" />
        </client>
    </system.serviceModel>
</configuration>
